<h2><span class="arrowLabel">Horas lançadas - <span id="mes"><%= Date.new(2000,@month,1).strftime('%B') %></span></span> <div class="arrows">
			<img id="arrowMes" class="up" src="<%= image_path('arrow-up.png') %>"/>
			<img id="arrowMes" class="down" src="<%= image_path('arrow-down.png') %>"/>
		</div> <span class="arrowLabel">/ <span id="ano"><%= @year %></span></span> <div class="arrows">
			<img id="arrowAno" class="up" src="images/arrow-up.png" />
			<img id="arrowAno" class="down" src="images/arrow-down.png" />
		</div> </h2>
		<br />
		<br />
		<br />
		<br />
		<br />
