body { background-color: #eee; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   11px;
  line-height: 18px;
}

 #content {
      width: 90%;
      margin:1em auto;
      text-align:left;
      max-width: 1024px;
      background-color: #fff;
      }
#header{
	height:45px;  
  	padding:25px;
  }
#header label{
	font-size:22px;
	font-weight:bolder;
}

#menu{
	margin-top:-32px;
	float:right;
}

#menu li{
	display:inline;
}

#line{
	height:5px;
	background-color:#aaa;
	width:500px
	margin: 0 auto;
}
#sidebar {
   float: left;
   width: 200px;
   margin:0; padding:0;
}
#sidebar-content {
   margin:0; padding: 0.5em 1em;
   font-size: 100%;
}
#main {
   margin:0 0 0 200px; padding:0;
}
#main-content {
   margin:0; padding: 0.5em 1em;
   font-size: 100%;
   border-left:1px dotted #ccc;
}
hr.cleaner {
   clear:both;
   height:1px;
   margin: -1px 0 0 0; padding:0;
   border:none;
   visibility: hidden;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
	color: #00f; 
	text-decoration:none;
}
a:visited { 
	color: #00f;
	text-decoration:none;
}
a:hover { 
	color: #00f; 
	text-decoration:underline;
}

.fieldWithErrors {
  
}

#errorExplanation {
  width: 400px;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
}

#errorExplanation p {
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

table{
	border: 1px #ddd solid;
}

th{
	border-bottom: 1px #ddd solid;
}

.numero{
	text-align:right;
}

.texto{
	text-align:left;
}

.centralizado{
	text-align:center;
}

.footer th{
	border-top: 1px #ddd solid;
	border-bottom: none;
}

fieldset{
	border: 1px solid #ccc;
}

.odd{
	background-color: #eee;
}
